@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

@font-face {
    font-family: AlteHaasGroteskBold;
    src: url('AlteHaasGroteskBold.ttf');
}

@font-face {
  font-family: AlteHaasGroteskRegular;
  src: url('AlteHaasGroteskRegular.ttf');
}